<div class="nav_menu">
    <nav>
      <div class="nav toggle">
        <!-- <a id="menu_toggle_lg"><i class="fa fa-bars"></i></a> -->
        <a id="menu_toggle_m" onclick="openNav()"><i class="fa fa-bars"></i></a>

      </div>

      <ul class="nav navbar-nav navbar-right">
        <li class="">

          <a href="/logout"><i class="fa fa-sign-out"></i><span class="top_nav_text"> Log Out</span></a>
          
        </li>
        <li class="">
          <a href="#"><i class="fa fa-user">&nbsp;</i><span class="top_nav_text"> Profile</span></a>
        </li>
        

        
      </ul>
    </nav>
</div>
